@media screen and (max-width: 1024px) {
  .favorite-wrapper.md-favorite-wrapper {
    .my-favorite {
      .mf-main {
        .mf-img {
          display: none;
        }
        .md-mf-img {
          display: block;
        }
        .mf-text-left {
          top: 0.8rem;
          left: 0.2rem;
          .mtl_t1 {
            font-size: 0.14rem;
            line-height: 0.2rem;
          }
          .mtl_t2 {
            margin-top: 0.1rem;
            font-size: 0.2rem;
            line-height: 0.28rem;
          }
        }
      }
    }
    .wave{
      display: none;
    }
  }
  .favorite-swiper.md-favorite-swiper {
    display: block;
  }
}
