@media screen and (max-width: 1024px) {
  .modal.md-modal {
    padding: 0 0.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .modal-close {
      width: 0.3rem;
      height: 0.3rem;
      position: static;
    }
    .modal-swiper {
      display: none;
      padding-bottom: 0.7rem;
      .swiper-bg {
        width: 100%;
      }
      .swiper-pagination {
        bottom: 0.2rem;
        left: 0;
        :deep(.swiper-pagination-bullet){
          width: 0.1rem;
        }
      }
      .navigation {
        right: 0;
        bottom: 0.1rem;
        .navigation-left{
          width: 0.35rem;
          height: 0.35rem;
          .navigation-arrow{
            width: 0.08rem;
          }
        }
        .navigation-right{
          width: 0.35rem;
          height: 0.35rem;
          .navigation-arrow{
            width: 0.08rem;
          }
        }
      }
    }
    .modal-swiper-wrapper {
      width: 100%;
      .md-modal-swiper {
        display: block;
      }
    }
  }
}
