@media screen and (max-width: 1024px) {
  .space-wrapper.md-space-wrapper {
    background-color: #a0a9b0;
    .space-bg {
      display: none;
    }
    .md-space-bg {
      display: block;
      opacity: 1;
    }
    .detail {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.8rem 0.2rem 0;
      text-align: left;
      .title {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
      .subtitle{
        font-size: 0.2rem;
        line-height: 0.28rem;
        margin-top: 0.1rem;
      }
      .desc {
        margin-top: 0.08rem;
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
    }
    .swiper-wrapper {
      display: none;
    }
    .space-swiper.md-space-swiper {
      margin-top: -0.1rem;
      display: block;
      .swiper {
        padding-bottom: 0.8rem;
      }
    }
  }
}
