/* 图片从下往上过渡效果 */
.animated-container,
.animated-img-container {
  & > .animated {
    transform: translateY(60px);
    transition: none;
    opacity: 0;
    &.slide-up {
      animation: slideUp 0.7s ease-in-out forwards;
    }
  }
  /* 标题透明度过渡效果 */

  .animated-title {
    opacity: 0;
    transition: none;
    &.slide-up {
      animation: slideUp 0.7s ease-in-out forwards;
    }
  }
}
@keyframes slideUp {
    from {
      opacity: 0;
      /* transform: translateY(30px);   */
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

body{
  --scale-img: 1.3;
}

@mixin img-scale() {
  transition: all 0.5s;
  &:hover {
    transform: scale(var(--scale-img)); 
  }
}