/* cookie */
.cookie_box{
	position: fixed;
	z-index: 50000;
	bottom: 1vh;
	width: 92%;
	left: 4%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0.5rem;
	color: #fff;
}

.cookie_text{
	width: 100%;
}
.cookie_title{
	font-size: 0.3rem;
    margin-bottom: 0.1rem;
}
.cookie_btn{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 0.3rem;
}
.cookie_detail{
	font-size: 0.18rem;
	line-height: 0.28rem;
	margin-top: 0.2rem;
	font-weight: 300;
	opacity: 0.6;
}
.cookie_detail a{
	color: #fff;
	text-decoration: underline;
}
.cookie_btn div{
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.16rem;
	transition: all .5s;
}
.cookie_accept{
	/* background-color: #bf906c;
	border: 1px solid #bf906c; */
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	margin-left: 0.2rem;
}
.cookie_setting{
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
}
.cookie_reject{
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
}
.cookie_setting, .cookie_reject, .cookie_accept{
	width: 3rem;
	position: relative;
}
.cookie_b_b{
	width: 6.2rem;
	display: flex;
}
.cookie_btn .cookie_setting:hover,
.cookie_btn .cookie_reject:hover,
.cookie_btn .cookie_accept:hover{
	color: #fff;
	background-color: #cda484;
	border: 1px solid #cda484;
}

.cookie_setting_detail{
	position: absolute;
	bottom: -100%;
	opacity: 0;
	pointer-events: none;
	left: 0;
	background-color: #000;
	width: 100%;
	padding: 0.1rem 0.5rem 0.3rem;
	transition: all 1s;
}
.cookie_setting_detail.active{
	bottom: 0%;
	pointer-events: auto;
	opacity: 1;
}
.cookie_setting_detail .tcb_min{
	display: flex;
	padding: 0rem 0rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	align-items: flex-start;
	justify-content: space-between;
}
.cookie_setting_detail .tc_left{
	width: 0.3rem;
	height: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	cursor: pointer;
}
.cookie_setting_detail .tc_left.active{
	background-color: rgba(255, 255, 255, 1);
}
.cookie_setting_detail .tc_left .tcl_icon_01{
	color: #fff;
	display: none;
}
.cookie_setting_detail .tc_left.active .tcl_icon_01{
	display: block;
    font-size: 0.26rem;
	color: #000;
}
.cookie_setting_detail .tc_left.no_choose{
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.3);
	pointer-events: none;
}
.cookie_setting_detail .tc_right{
	width: calc(100% - 0.5rem);
}
.cookie_setting_detail .tcr_line_1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cookie_setting_detail .tcrl_more{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.cookie_setting_detail .tcrl_more img{
	width: 0.1rem;
	margin-left: 0.12rem;
}
.cookie_setting_detail .tcrl_detail_btn a,
.cookie_setting_detail .tcrl_more a{
	color: #fff;
    font-size: 0.18rem;
}
.cookie_setting_detail .tcrl_title{
	font-size: 0.26rem;
	font-weight: bold;
	margin-top: 0rem;
}
.cookie_setting_detail .tcr_line_2{
	font-size: 0.18rem;
	margin-top: 0.14rem;
	font-weight: 300;
}
.cookie_setting_detail .tcrl_detail_btn{
	display: flex;
	align-items: center;
	margin-top: 0.16rem;
	cursor: pointer;
}
.cookie_setting_detail .tcrl_detail_btn img{
	width: 0.1rem;
	margin-left: 0.12rem;
}
.cookie_setting_btns{
	display: flex;
    margin-top: 0.1rem;
}
.cookie_setting_back{
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	width: 3rem;
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	font-size: 0.16rem;
	transition: all .5s;
	cursor: pointer;
}
.cookie_setting_back:hover{
	color: #fff;
	background-color: #cda484;
	border: 1px solid #cda484;
}
.cookie_setting_save{
	/* background-color: #bf906c;
	border: 1px solid #bf906c; */
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	width: 3rem;
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	font-size: 0.16rem;
	transition: all .5s;
	cursor: pointer;
	margin-left: 0.2rem;
}
.cookie_setting_save:hover{
	color: #fff;
	background-color: #cda484;
	border: 1px solid #cda484;
}
.cookie_unfold_box{
	height: 0;
	overflow: hidden;
    font-size: 0.18rem;
}
.cookie_unfold_box.active{
	height: auto;
}
.cooub_t1{
	padding: 0.2rem 0;
}
.cooub_tab_t, .cooub_tab_d{
	display: flex;
}
.cooub_tab_t div{
	width: 25%;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0.08rem 0rem;
}
.cooub_tab_d div{
	width: 25%;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0.12rem 0rem;
}





@media (max-width: 767px){
	.cookie_box{
		flex-direction: column;
        padding: 0.25rem;
        bottom: 1rem;
	}
    .cookie_title{
        font-size: 0.15rem;
    }
	.cookie_text{
		width: 100%;
	}
	.cookie_btn{
		width: 100%;
		margin-top: 0.2rem;
	}
	.cookie_detail{
		font-size: 0.11rem;
        line-height: 0.11rem;
        margin-top: 0.1rem;
	}
	.cookie_btn div{
		height: 0.37rem;
		line-height: 0.37rem;
		font-size: 0.09rem;
	}
	.cooub_tab_d div,
	.cooub_tab_t div{
		word-wrap: break-word;
		font-size: 0.09rem;
	}
	.cooub_t1{
		font-size: 0.09rem;
	}
	.cookie_btn{
		flex-direction: column;
	}
	.cookie_b_b{
		margin-top: 0.1rem;
	}
    .cookie_setting, .cookie_reject, .cookie_accept{
        width: 1.5rem;
    }
    .cookie_setting_detail{
        padding: 0.05rem 0.25rem 0.15rem;
    }
    .cookie_setting_detail .tcrl_more a{
        color: #fff;
        font-size: 0.09rem;
    }
    .cookie_setting_detail .tcrl_title{
        font-size: 0.13rem;
        font-weight: bold;
        margin-top: 0rem;
    }
    .cookie_setting_detail .tc_left{
        width: 0.15rem;
        height: 0.15rem;
    }
    .cookie_setting_detail .tc_left.active .tcl_icon_01{
        font-size: 0.13rem;
    }
    .cookie_setting_detail .tcr_line_2{
        font-size: 0.09rem;
        margin-top: 0.07rem;
        font-weight: 300;
    }
    .cooub_t1{
        padding: 0.1rem 0;
    }
    .cookie_setting_detail .tcrl_detail_btn{
        margin-top: 0.08rem;
    }
    .cooub_tab_t div{
        width: 25%;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.04rem 0rem;
    }
    .cooub_tab_d div{
        width: 25%;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.06rem 0rem;
    }
    .cookie_setting_detail .tcrl_detail_btn a, .cookie_setting_detail .tcrl_more a {
        color: #fff;
        font-size: 0.09rem;
    }
    .cookie_setting_detail .tc_right {
        width: calc(100% - 0.25rem);
    }
    .cookie_setting_back {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        width: 1.5rem;
        height: 0.27rem;
        line-height: 0.27rem;
        text-align: center;
        font-size: 0.08rem;
    }
    .cookie_setting_save {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        width: 1.5rem;
        height: 0.27rem;
        line-height: 0.27rem;
        text-align: center;
        font-size: 0.08rem;
        transition: all .5s;
        cursor: pointer;
        margin-left: 0.1rem;
    }
}