#__nuxt {
  font-size: 16px;
  line-height: 21px;
  color: #222222;
  // overflow-x: hidden;
  // overflow-y: auto;
}

// 大标题
.title {
  @apply 
    uppercase
    text-[0.48rem] leading-[0.64rem] text-white
    lg:text-[0.4rem] lg:leading-[0.53rem];
  font-family: Saira;
}