@media screen and (max-width: 1024px) {
  .content-wrapper.md-content-wrapper {
    padding: 0.2rem;
    .content-main {
      display: none;
    }
    .content-list-wrapper {
      margin-top: 0;
      .content-list-inner{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      .content-list {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 0.2rem;
        .list-top{
          height: auto;
        }
        .list-bottom {
          overflow: hidden;
          .time {
            font-size: 0.12rem;
            line-height: 0.14rem;
            margin-top: 0.12rem;
          }
          .title {
            margin-top: 0.12rem;
            font-size: 0.16rem;
            line-height: 0.24rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }
        }
      }
    }
    .more{
      margin: 0.6rem auto;
      .more-btn{
        width: 100%;
        line-height: 0.21rem;
        font-size: 0.14rem;
        border-radius: 0.02rem;
        padding: 0.08rem 0;
        text-transform: none;
      }
    }
  }
}
