@media screen and (max-width: 1024px) {
  .banner-wrapper.md-banner-wrapper{
    .md-banner{
      display: block;
    }
    .title{
      left: 0;
      padding: 0 0.2rem;
      font-size: 0.24rem;
      line-height: 0.3rem;
      bottom: 1.64rem;
      font-weight: normal;
    }
    .sub-title{
      left: 0;
      padding: 0 0.2rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
      bottom: 1.32rem;
      letter-spacing: normal;
    }
    .title_Jump{
      width: 100%;
      display: block;
      padding: 0 0.2rem;
      position: absolute;
      bottom: 0.6rem;
      left: 0;
      z-index: 2;
    }
  }
}