@media screen and (max-width: 1024px) {
  .color-wrapper.md-color-wrapper {
    overflow: hidden;
    .intro {
      top: 0.8rem;
      left: 0.2rem;
      .color-title {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
      .color-subtitle {
        margin-top: 0.1rem;
        font-size: 0.2rem;
        line-height: 0.28rem;
      }
    }
    .rotate{
      display: block;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      top: 2.02rem;
      z-index: 2;
      .rotate-img{
        width: 0.4rem;
      }
    }
    .color-content {
      .content-bg {
        display: none;
      }
      .md-content-bg {
        display: block;
      }
      .color-pagination {
        width: 100%;
        padding: 0 0.15rem;
        left: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        .pagination-bullet {
          width: 0.35rem;
          height: 0.35rem;
          padding: 0;
          margin: 0 0.12rem;
          .pagination-bg-wrapper {
            width: 0.35rem;
            height: 0.35rem;
            .pagination-bg {
              width: 0.28rem;
            }
          }
          .pagination-name {
            font-size: 0.14rem;
            line-height: 0.22rem;
            margin-top: -0.7rem;
          }
        }
      }
    }
  }
}
