@media screen and (max-width: 1024px) {
  .exeed-wrapper.md-exeed-wrapper {
    .country_jump{
      .country_t2{
        font-size: 0.2rem;
        line-height: 0.3rem;
        margin-top: 0.2rem;
      }
      .country_my{
        margin-top: 0.8rem;
        font-size: 0.18rem;
      }
    }
  }
}
