@media screen and (max-width: 1024px) {
  .main-wrapper.md-main-wrapper {
    height: calc(100vh - 0.52rem);
    .bg{
      display: none;
    }
    .md-bg{
      display: block;
    }
    .config-main-title{
      left: 0.2rem;
      top: 1.48rem;
      font-size: 0.26rem;
      line-height: 0.3rem;
    }
    .config-main-subtitle{
      top: 1.48rem;
      left: 0.2rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }

    .usi-change-tab{
      left: 0.2rem;
      top: 0.8rem;
      right: auto;
      .tab-txt{
        width: 1.67rem;
        height: 0.48rem;
        font-size: 0.14rem;
        .car-logo {
          width: 0.84rem;
          margin-right: 0.05rem;
        }
      }
    }
    .config-main-num{
      flex-direction: column;
      left: 0.2rem;
      bottom: 0.6rem;
      width: auto;
      .cmn-min{
        margin-bottom: 0.32rem;
        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
        .cmn-min-i{
          margin-top: 0.12rem;
          align-items: center;
          .config-logo{
            width: 0.24rem;
            margin-bottom: 0;
          }
          .cmn-min-num{
            height: 0.36rem;
            font-size: 0.26rem;
            line-height: 0.36rem;
            margin-left: 0.06rem;
            .unit{
              font-size: 0.26rem;
              line-height: 0.36rem;
              margin-left: 0.05rem;
            }
            .dot{
              font-size: 0.26rem;
              line-height: 0.36rem;
            }
          }
        }
        .cmn-min-t{
          font-size: 0.14rem;
          line-height: 0.2rem;
          color: white;
          opacity: 1;
        }
      }
    }
  }
}
