@media screen and (max-width: 1024px) {
  .speed-wrapper.md-speed-wrapper {
    background-color: #a0a9b0;
    .md-top-mask{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 0.99rem;
      z-index: 1;
      background: linear-gradient(180deg, #a0a9b0 0%, rgba(168, 178, 185, 0) 100%);
    }
    .detail{
      padding: 0.4rem 0.2rem;
      text-align: left;
      height: fit-content;
      z-index: 3;
      position: static;
      .title{
        font-size: 0.14rem;
        line-height: 0.2rem;
        color: white;
      }
      .subtitle{
        font-size: 0.2rem;
        line-height: 0.28rem;
        margin-top: 0.1rem;
      }
      .desc{
        font-size: 0.14rem;
        line-height: 0.2rem;
        margin-top: 0.1rem;
      }
    }
    .mask{
      display: none;
    }
    .speed-bg{
      display: none;
    }
    .md-speed-bg{
      display: block;
    }
    .swiper-wrapper{
      display: none;
    }
    .md-speeed-swiper{
      margin-top: 0.6rem;
      display: block;
    }
    .charging-box-wrapper{
      padding: 0;
    }
    .charging-box{
      background: #a0a9b0;
      flex-direction: column;
      padding: 0.2rem;
      padding-bottom: 0.6rem;
      .charging-title{
        top: 0;
        left: 0.2rem;
        font-size: 0.16rem;
        line-height: 0.24rem;
      }
      .charging-list{
        width: 100%;
        margin-top: 0.2rem;
        .charging-list-bg{
          display: none;
        }
        .md-charging-list-bg{
          display: block;
        }
        .md-charging-list-text{
          width: 100%;
          display: flex;
          position: absolute;
          bottom: 0.32rem;
          color: white;
          justify-content: center;
          .charging-text-left{
            margin-right: 0.35rem;
          }
          .charging-name{
            font-size: 0.13rem;
            line-height: 0.15rem;
            margin-bottom: 0.08rem;
            text-align: center;
          }
          .charging-num{
            font-size: 0.36rem;
            line-height: 0.36rem;
          }
        }
        .list-text-right{
          bottom: 0.4rem;
        }
      }
      .charging-list-right{
        margin-top: 0.5rem;
      }
      .charging-list-text{
        display: none;
      }
    }
  }
}
