.title_Jump {
    position: absolute;
    right: 0.8rem;
    bottom: 0.9rem;
    // position: fixed;
    transform: translateY(1rem);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.6s;
    &.animate {
      transform: translateY(0);
      opacity: 1;
    }
  }